button {
    font-size: 15px;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.counterButton {
    background-color: green;
}

.resetButton {
    background-color: red;
}

.count {
    font-size: 20px;
    padding: 20px;
}

.totalCount {
    color: green;
    font-size: 150px;
}